* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* font-family: var(--main-font); */
  font-family: var(--main-font);

  background-color: var(--page-bg);
  color: var(--text-color);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  /* outline: 4px solid green !important; */
}

/* Links */

a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type="submit"] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

:root {
  --page-bg: rgb(249,247,248);
  --text-color: rgb(37,3,10);
  --hover-text: rgba(82, 80, 80, 0.5);
  --gradient-color: linear-gradient(93.98deg, #c478bf 46.75%, #984994 91.85%);
  --main-font: "Kanit", sans-serif;
}
